/*INDHOLDSFORTEGNELSE

- MOBILE FIRST -

1. FONT
2. GENERELLE INDSTILLINGER
3. MENU
4. PRISER
5. SPLASH
6. SLIDESHOW
7. VELKOMMEN
8. VIDEO
9. GOOGLE MAPS
10. PORTFOLIO
11. ANMELDELSER
12. KONTAKT
13. PORTFOLIO SITE
14. FOOTER

- WEB MEDIUM -

15. GENERELLE INDSTILLINGER
16. MENU
17. PRISER
18. VELKOMMEN
19. SPLASH
20. SLIDESHOW
21. VIDEO
22. PORTFOLIO
23. ANMELDELSER
24. KONTAKT
25. FOOTER

- WEB LARGE -

26. MENU
27. SPLASH
28. SLIDESHOW
29. VELKOMMEN
30. PORTFOLIO
31. ANMELDELSER
32. KONTAKT
33. FOOTER

*/


/*1. FONT*/

@font-face {
	font-family: 'vampire_warsregular';
	src: url('vampire_wars-webfont.woff2') format('woff2'),
		url('vampire_wars-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/*2. GENERELLE INDSTILLINGER*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #CBC0C5;

}

html {
	scroll-behavior: smooth;
}

img {
	width: 100%;
}

h1 {
	font-family: 'vampire_warsregular';
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
	font-family: 'vampire_warsregular';

}

p {
	/*    font-family: 'Raleway', sans-serif;*/
	font-family: 'Dosis', sans-serif;
	font-size: 1rem;

}

a {
	text-decoration-line: none;
	color: black;
	font-family: monospace;
	cursor: pointer;
	color: #707070;
}

a:hover {
	color: #F2EBEE;
}


.sticky {
	position: fixed;
}


.hidden {
	display: none;
	transform: scale(0);
	transform: translateY(100%);
	opacity: 0;
	text-decoration: none;
}

/*3. MENU*/


nav {
	z-index: 1;
	width: 100vw;
	top: 0;
	color: #707070;
}

#menuknap {
	display: inline-block;
	position: absolute;
	right: 0;
	text-align: left;
	padding-right: 10px;
	cursor: pointer;
	color: white;
	font-size: 2rem;
}

#menu {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	justify-content: center;
	transition: transform .3s;
	transform-origin: left bottom;
	top: 0;
	height: 200px;
	width: 100%;
	margin: 0;
	text-align: center;
	background-color: white;
	z-index: 1;
	width: 100vw;
	font-size: 16px;
	top: 0;
}

#logo_nav {
	font-family: 'vampire_warsregular';
	font-size: 1.25rem;
	color: #7D7096;
}

ul {
	padding: 0;
}

li {
	color: #7D7096;
	padding: 0;
	padding-bottom: 10px;
	font-size: 1rem;
	line-height: 30px;
	color: #707070;
	padding: 0;

}

li a {

	font-size: 1rem;
	color: #707070;
}

/*4. PRISER*/

#collapsible {
	z-index: 2;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	color: #707070;
	z-index: 2;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	color: #707070;
}

#collapsible:hover {
	color: #F2EBEE;
}

#content_collap {
	display: flex;
	flex-direction: column;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100vh;
	color: white;
	background-color: #9289a5;
	text-align: center;
	align-content: center;
	padding-right: 20px;
	padding-left: 20px;

}

.luk_knap {
	width: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	align-self: center font-size: 2rem;
}

.luk_knap:hover {
	cursor: pointer;
}

/*5. SPLASH */


#splash {
	background-image: url(Billeder/omg_baggrund-kopi.png);
	background-position: center;
	height: 250px;

}

/*   6. slideshow   */

}

.mySlides {
	filter: brightness(0.5);
}

.overskrift {
	display: inline;
	position: absolute;
	width: 100vw;
	text-align: center;
	top: 145px;
	color: #7D7096;
	display: inline;
	position: absolute;
	width: 100vw;
	text-align: center;
	font-size: 30px;
	top: 145px;
	color: #7D7096;

}

.slideshow {
	width: 100%;
	top: 0;
}


/*   7. velkommen   */

#velkommen_boks {
	width: 100vw;
	display: flex;
	flex-direction: column-reverse;

}

.velkommen_img {
	align-self: center;
	width: 400px;
	padding: 20px;
	margin-bottom: 50px;
}

.velkommen_tekst {
	align-self: center;
	padding-left: 20px;
	padding-right: 20px;


}

.velkommen_tekst h2 {
	color: #7D7096;
	text-align: center;
}

.undertekst {
	text-align: center;
}

.velkommen_tekst p {

	color: #7D7096;

	color: #7D7096;
	font-size: 1.0rem;
}



/*  8. video  */

#video_container {

	background-color: #f3ebee;
}

.video {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-top: 100px;


}

.video iframe {
	border: 10px solid white;
	filter: grayscale(50%);


}

.video iframe:hover {
	filter: grayscale(0);
}


/*9. GOOGLE MAPS*/

.google_maps {
	width: 100%;
	height: 500px;
	filter: grayscale(100%);
}

.google_maps:hover {
	filter: grayscale(0);
}

/*      */

/*10. Portfolio*/

.portfolio_h2 {
	color: #7D7096;
	text-align: center;
	background-color: #F2EBEE;
	margin: 0;
	margin-top: 50px;
	padding-top: 20px;
}

#portfolio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	background-image: url(Billeder/omg_baggrund-kopi.png);
	background-position: bottom;
	padding-bottom: 200px;
	padding-top: 20px;
	color: #7D7096;
	text-align: center;
	background-color: #F2EBEE;
	margin: 0;
	padding-top: 20px;
}

#portfolio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	background-image: url(Billeder/omg_baggrund-kopi.png);
	background-position: bottom;
	padding-bottom: 200px;
	padding-top: 50px;

}

#portfolio img {
	width: 200px;
	margin-right: 5px;
}


.link_til_portfolio {
	position: relative;
	top: -200px;
	margin-right: 48px;
	text-align: right;
	animation: pulse_port 1s infinite;
	animation-duration: 1.7s;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	font-size: 1.3rem;

}

..link_til_portfolio a {
	color: black;
}

.link_til_portfolio a:hover {
	color: #7D7096;
}

@keyframes pulse_port {
	0% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1.0);
	}
}

.luk_knap {
	width: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	align-self: center
}

.luk_knap:hover {
	cursor: pointer;
}




/*     11. anmeldelser    */

.skull {
	width: 30px;
	margin: 5px;
}

#anmeldelser {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

.anmeldelse {
	width: 100%;
	text-align: center;
	align-items: center;
	padding-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.37);
	margin: 20px;
	padding: 10px;
}

.anmeldelser_h2 {
	text-align: center;
	color: #7D7096;
	text-align: center;
	color: #7D7096;
}

#anmeldelser p {
	margin: 20px;
}

.anmeldelse1_person p {
	font-style: italic;
	color: #7D7096;
	font-size: 13px;
	font-style: italic;
	color: #7D7096;


}

.anmeldelse_billeder {
	width: 100%;

}



/*     12. kontakt    */

.kontakt_tekst {
	background-color: rgba(255, 255, 255, 0.37);
	height: 250px;
}

.kontakt_tekst h2 {

	color: #7D7096;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}

.kontakt_tekst p {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.5rem;

	color: #7D7096;
	text-align: center;
	padding-top: 20px;
}

.kontakt_tekst p {
	padding-left: 30px;
	padding-right: 30px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: rgba(255, 255, 255, 0.71);
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #7D7096;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container_kontakt {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.37);
	padding: 20px;
	font-family: 'Raleway', sans-serif;
}

.googlemaps {
	filter: grayscale(100%);
	height: 300px;
	margin-bottom: 0;
}

/* 13. Portfolio site*/

.go_back {
	padding: 10px;
	color: white;

}

.go_back img {
	width: 35px;
	animation: pulse 2s infinite;
	animation-duration: 1.7s;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	padding-top: 25px;
}

@keyframes pulse {
	0% {
		transform: scale(1.0);


	}


	100% {
		transform: scale(1.2);

	}
}




.portfolio_overskrift {
	text-align: center;
	color: white;
	margin: 0;
	color: #7d7096;
}

.portfolio_overskrift1 {
	text-align: center;
	margin: 0;
	color: white;
	margin-bottom: 50px;
}



#portfolio_1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

#portfolio_1 img {
	width: 240px;
	padding-bottom: 5px;
}

/*14. FOOTER*/

footer {

	width: 100%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #7d7096;

	width: 100%;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #7d7096;



}


.social {

	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 70px;
}

.social img {
	width: 40px;

	justify-content: space-around;

}

.social a:hover {
	opacity: 50%;
}


.logo {
	display: flex;
	width: 100%;
	text-align: center;
}

.logo a {
	color: white;
}

.logo a:hover {
	opacity: 50%;
	color: white;
}



.info {

	width: 100%;
	text-align: right;
	padding-right: 10px;
	padding-top: 20px;

}


.info p {
	font-size: 0.9rem;
}



/*WEB MEDIUM*/

@media only screen and (min-width: 690px) {


	/*	15. GENERELLE INDSTILLINGER (MEDIUM)*/

	h2 {
		font-size: 2rem;
	}

	.hidden {
		display: none;
		transform: scale(0);
		transform: translateY(100%);
		opacity: 0;
		text-decoration: none;
	}


	/*	16. MENU (MEDIUM)*/


	nav {
		z-index: 2;
		width: 100vw;
	}

	#menuknap {
		display: none;
	}

	#menu {
		display: flex;
		position: fixed;
		flex-direction: row;
		list-style-type: none;
		justify-content: space-around;
		top: 0;
		width: 100%;
		height: 50px;
		margin: 0;
		padding-top: 10px;
	}

	/*	17. PRISER (MEDIUM)*/

	#collapsible {
		color: #707070;
		cursor: pointer;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
	}

	#collapsible:hover {
		color: #F2EBEE;
	}

	#content_collap {
		display: flex;
		flex-direction: column;
		z-index: 2;
		position: fixed;
		width: 100%;
		height: 555px;
		margin-top: 50px;
		color: white;
		background-color: #9289a5;
		text-align: center;
		align-content: center;
		padding-right: 150px;
		padding-left: 150px;
		box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.4);
	}

	.luk_knap {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		align-self: center;
		font-size: 2rem;
	}




	/*	18. VELKOMMEN (MEDIUM)*/


	#velkommen_boks {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 50px;
	}


	.velkommen_tekst {
		line-height: 25px;
		width: 500px;
		padding: 10px;
	}

	.velkommen_img {
		width: 500px;
		padding: 10px;
		padding-top: 70px;
		margin: 0;
	}

	.velkommen_tekst p {
		padding-right: 20px;
		padding-left: 20px;
		text-align: justify;
	}

	/*	19. SPLASH (MEDIUM)*/


	#splash {
		width: 100%;
		background-image: url(Billeder/omg_baggrund-kopi.png);
		background-position: bottom;
		padding-bottom: 600px;

	}

	.overskrift {
		display: inline;
		position: absolute;
		width: 100vw;
		text-align: center;
		top: 250px;
		color: #7D7096;

	}

	.overskrift h1 {
		font-size: 4rem;
	}

	/*	20. SLIDESHOW (MEDIUM)*/



	.slideshow {
		display: flex;
		width: 100vw;
		padding-bottom: 100px;

	}

	/*	21. VIDEO (MEDIUM)*/



	#video_container {
		padding-bottom: 50px;
		margin-bottom: 100px;

	}

	.video {}

	.video iframe {
		margin-top: 50px;
		width: 760px;
		height: 515px;


	}


	/*    22. portfolio (MEDIUM)   */


	#portfolio {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 250px;
	}

	.link_til_portfolio {
		padding-right: 10px;
		top: -230px;
	}

	#portfolio_1 {
		padding-left: 100px;
		padding-right: 100px;
	}

	.portfolio_overskrift {
		color: #7d7096;
	}

	#portfolio_1 img {
		width: 400px;
		padding-bottom: 10px;
	}

	#portfolio img {
		width: 290px;
	}

	.portfolio_h2 {
		padding-top: 90px;
	}


	/*   23. anmeldelser (MEDIUM)   */


	#anmeldelser {
		/*        width: 100vh;
        */
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 80px;
		padding-left: 150px;
		padding-right: 150px;
	}

	.anmeldelse {
		text-align: center;
		align-items: center;
		width: 700px;
		height: 400px;
		background-color: rgba(255, 255, 255, 0.37);
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	.anmeldelse_txt {
		height: 55%;
	}


	.anmeldelse p {
		height: 100px;
		line-height: 1.5;
	}

	.anmeldelse p {
		font-size: 15px;
		height: 100px;
		line-height: 1.5;
	}

	.skull {
		padding-top: 30px;
	}


	/*     24. kontakt (MEDIUM)  */


	.kontakt_tekst {
		padding-right: 40px;
		padding-left: 40px;
		padding-top: 50px;
	}


	.kontakt_tekst h2 {
		color: #7D7096;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 30px;
	}

	.container_kontakt {
		padding-right: 60px;
		padding-left: 60px;
		padding-bottom: 50px;
		padding-top: 40px;
	}

	.container_kontakt {
		padding-right: 60px;
		padding-left: 60px;
		padding-bottom: 50px;
		padding-top: 40px;
	}


	.googlemaps {
		margin: 0;
		padding: 0;
	}


	/*     25. footer (MEDIUM)   */

	footer {
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #7d7096;
		height: 150px;
		padding-left: 80px;
		padding-right: 80px;

	}


	.social {
		display: flex;
		width: 100%;
		padding-top: 50px;
	}

	.social img {
		width: 40px;
	}


	.logo {
		padding-left: 50px;
		width: 100%;
		text-align: center;
		padding-top: 10px;
		font-size: 1.5rem;
	}



	.info {
		width: 100%;
		text-align: right;
		padding-top: 10px;
	}

	.info p {
		font-size: 1.2rem;
	}



}



/*WEB LARGE*/

@media only screen and (min-width: 1200px) {

	/*	26. MENU (LARGE)*/

	#menu {
		display: flex;
		position: fixed;
		flex-direction: row;
		list-style-type: none;
		top: 0;
		height: 50px;
		margin: 0;
		padding-top: 10px;
	}

	li {
		color: #707070;
	}

	#logo_nav {
		position: absolute;
	}

	.menu_knap1 {
		padding-left: 690px;
		color: #707070;

	}

	.menu_knap2 {
		padding-left: 100px;
		color: #707070;
	}

	.menu_knap3 {
		padding-left: 100px;
		color: #707070;
	}

	/*	27. SPLASH (LARGE)*/

	#splash {
		width: 100%;
		background-image: url(Billeder/omg_baggrund-kopi.png);
		background-position: bottom;
		padding-bottom: 800px;

	}



	.overskrift {
		display: inline;
		position: absolute;
		width: 100vw;
		text-align: center;
		top: 440px;
		color: #7D7096;

	}

	.overskrift h1 {
		font-size: 5rem;
	}

	/*	28. SLIDESHOW (LARGE)*/

	.slideshow {
		display: flex;
		width: 100vw;
		padding-bottom: 100px;

	}

	.mySlides {
		height: 100%;
	}


	/*  29. velkommen (LARGE) */

	#velkommen_boks {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 50px;
	}


	.velkommen_tekst {
		width: 540px;

	}

	.velkommen_img {
		width: 450px;
		padding: 0;
		margin: 0;
	}


	.velkommen_tekst h2 {
		/*        color: #7D7096;*/
		text-align: center;
	}

	.velkommen_tekst p {
		text-align: justify;

	}

	.velkommen_tekst h2 {
		/*        color: #7D7096;*/
		text-align: center;
	}

	.velkommen_tekst p {
		text-align: justify;
		font-size: 1.2rem;
	}



	/*   30.  portfolio (LARGE)  */

	#portfolio {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 250px;

	}

	.link_til_portfolio {
		padding-right: 160px;
		top: -230px;
	}

	#portfolio_1 {
		padding-left: 100px;
		padding-right: 100px;
	}

	.portfolio_overskrift {
		font-size: 4rem;
		color: #7d7096;
	}

	#portfolio_1 img {
		width: 400px;
		padding: 10px;
	}

	#portfolio img {
		width: 340px;
	}

	.portfolio_h2 {
		padding-top: 50px;
	}



	/*    31. anmeldelser (LARGE) */


	#anmeldelser {
		width: ;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 50px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.anmeldelse {
		text-align: center;
		align-items: center;
		width: 400px;
		height: 400px;
		background-color: rgba(255, 255, 255, 0.37);
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	.anmeldelse_txt {
		height: 55%;
	}

	.anmeldelse p {
		font-size: 1.0rem;
		height: 100px;
		line-height: 1.5;
	}

	.skull {
		padding-top: 30px;
	}


	/*    32. kontakt  (LARGE)  */


	.kontakt_tekst {
		padding-right: 300px;
		padding-left: 300px;
	}

	.kontakt_tekst p {
		line-height: 1.4;
		padding-left: 70px;
		padding-right: 70px;
		font-size: 1.2rem;
	}

	.container_kontakt {
		padding-right: 350px;
		padding-left: 350px;
		padding-bottom: 20px;

	}

	.googlemaps {
		margin: 0;
		padding: 0;
	}



	/*     33. footer  (LARGE)   */

	footer {
		width: 100%;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #7d7096;
		height: 150px;

	}


	.social {
		width: 100%;
		display: flex;
		padding-left: 0px;
	}


	.logo {
		display: flex;
		width: 100%;
		text-align: center;
		padding-left: 150px;
	}




	.info {
		width: 100%;
		text-align: right;
		padding-right: 50px;
		font-size: 1.7rem;
		padding-top: 0;

	}

}
